{% extends 'base.html' %}

{% block title %}Portfolios{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Your Portfolios</h2>
        {% if current_user.is_authenticated %}
          <a href="{{ url_for('portfolio.create_portfolio') }}" class="btn btn-primary mb-3">Create New Portfolio</a>
        {% else %}
          <a href="{{ url_for('main.login') }}" class="btn btn-primary mb-3">Logg inn for å opprette portefølje</a>
        {% endif %}
        {% if portfolios %}
            <ul class="list-group">
                {% for p in portfolios %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ url_for('portfolio.view', id=p.portfolio.id) }}">{{ p.portfolio.name }}</a>
                      <span class="badge bg-secondary">
                        {% if p.total_value is not none %}
                        ${{ p.total_value|round(2) }}
                       {% else %}
                            N/A
                       {% endif %}
                    </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info mt-3">No portfolios found. <a href="{{ url_for('portfolio.create_portfolio') }}" >Create one</a>!</div>
        {% endif %}
    </div>
</div>
{% endblock %}